column {
  width: 90px;
border: 1px solid black;
}

.row {
  height: 40px;
}

/* Dark se light */
.r1  { background: rgb(200, 0, 0); }
.r2  { background: rgb(220, 30, 30); }
.r3  { background: rgb(235, 60, 60); }
.r4  { background: rgb(245, 90, 90); }
.r5  { background: rgb(250, 120, 120); }
.r6  { background: rgb(255, 150, 150); }
.r7  { background: rgb(255, 180, 180); }
.r8  { background: rgb(255, 205, 205); }
.r9  { background: rgb(255, 225, 225); }
.r10 { background: rgb(255, 245, 245); }