.box1{
position: relative;
    height: 15vh;
width: 15vh;
border: 4px solid black;
background-color: blue;
top: 10em;
animation: move-right 3s ;
}
@keyframes move right
0%{transform: translate(-50px-50px);translate x;(0px)}
100%{transform: translate(-50px-50px);translate x(35vw)}
.box2{
position: relative;
    height: 15vh;
width: 15vh;
border: 4px solid black;
background-color: brown;
left: 89%;
top: 3.8em;
animation: move-left 3s ;
}
@keyframes move-right{
0%{transform: translateX(0%);}
100%{transform: translateX(45vw);}
}
@keyframes move-left{
0%{transform: translateX(0%);}
100%{transform: translateX(-45vw);}
}