body{
justify-content: center;
}
table{
position: relative;
justify-content: center;
height: 25%;
left: 32%;
}
td{
border: 1px solid black;
justify-content: center;
color: rgb;
width: 6px;

}
h1{
    text-align: center;
}
th{
right: 2em; 
justify-content: center;

}