body{
justify-content: center;
}
table{
position: relative;
border: 1px solid black;
justify-content: center;
height: 25%;
left: 32%;
}
td{
border: 1px solid black;
justify-content: center;


}
h1{
    text-align: center;
}
th{
right: 2em; 
justify-content: center;

}